/* Página */
body {
  background: #f7f7f7;
}

/* Título */
.cart-title {
  font-size: 36px;
  font-weight: bold;
  margin: 40px;
}

/* Contenedor principal */
.cart-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 40px 40px;
  align-items: flex-start;
}

/* Productos */
.cart-products {
  flex: 2;
}

/* Tarjeta del producto */
.cart-item {
  display: flex;
  gap: 20px;
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Imagen */
.cart-image {
  width: 180px;
  height: auto;
  object-fit: contain;
}

/* Info producto */
.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Botón eliminar */
.delete-btn {
  background: white;
  border: 2px solid black;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: 0.2s;
}

.delete-btn:hover {
  background: black;
  color: white;
}

/* Resumen */
.cart-summary {
  flex: 1;
  background: white;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
  position: sticky;
  top: 20px;
}

.cart-summary h2 {
  margin-bottom: 20px;
}

.total-price {
  font-size: 24px;
  margin: 25px 0;
}

/* Botón finalizar */
.checkout-btn {
  width: 100%;
  background: black;
  color: white;
  border: none;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

.checkout-btn:hover {
  opacity: 0.9;
}

/* Seguir comprando */
.continue-btn {
  width: 100%;
  background: white;
  border: 2px solid black;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.continue-btn:hover {
  background: black;
  color: white;
}

/* Carrito vacío */
.empty-cart {
  text-align: center;
  margin-top: 80px;
  font-size: 26px;
}
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.quantity-controls button {
  width: 42px;
  height: 42px;
  border: 2px solid black;
  background: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.quantity-controls button:hover {
  background: black;
  color: white;
}

.quantity-controls span {
  font-size: 22px;
  font-weight: bold;
  min-width: 30px;
  text-align: center;
}