<header class="header">
  <h1>TiendaRopa</h1>

  <nav>
    <a href="#">Inicio</a>
    <a href="#">Productos</a>
    <a href="#">Carrito</a>
  </nav>
</header>

<section class="welcome">
  <h2>Bienvenido a nuestra tienda virtual de ropa</h2>
  <p>Encuentra ropa moderna al mejor precio.</p>
</section>

<section class="products">

  <div class="card" *ngFor="let product of products">

    <h3>{{ product.name }}</h3>

    <p class="price">
      ${{ product.price }}
    </p>

    <button (click)="addToCart(product.name, product.price)">
      Agregar al carrito
    </button>

  </div>

</section>

<section class="cart-section">

  <h2>Carrito({{ cart.length }})</h2>

  <p class="total">
    Total: {{ total }}
  </p>

  <p *ngIf="cart.length === 0">
    Tu carrito está vacío
  </p>

  <div
    class="cart-item"
    *ngFor="let item of cart; let i = index"
  >
    <p>{{ item.name }}</p>

    <p class="cart-price">
      ${{ item.price }}
    </p>

    <button (click)="removeFromCart(i)">
      Eliminar
    </button>
  </div>

</section>